@page
@using AgriEnergyConnectPlatform.Models
@model AgriEnergyConnectPlatform.Pages.Products.DetailsModel

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Product.Name)+"'s Details";
}
<style>
    .card {
        width: 300px;
        max-height: 700px;
        background-color: rgba(255, 255, 255);
        backdrop-filter: blur(2px);
        color: black;
        margin-bottom: 10px;
    }

    .card-body {
        max-height: 400px;
        color: black;
    }

    .card-img-top {
        max-height: 400px;
        object-fit: cover;
    }

    h1 {
        padding-top: 64px;
        color: darkorange;
        font-weight:700;
        font-size:50px;
    }

    h4 {
        color: yellowgreen;
        font-weight: 700;
        font-size: 30px;
    }
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    dt {
        color: darkorange;
        font-size: 20px;
    }
    dd {
        color: yellowgreen;
        font-size: 16px;
    }
</style>

<h1>@Html.DisplayFor(model => model.Product.Name)'s Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            Farmer @Html.DisplayFor(model => model.Product.Farmer.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Farmer.FullName)
        </dd>
        <dt class="col-sm-2">
            Farmer @Html.DisplayFor(model => model.Product.Farmer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Farmer.Email)
        </dd>
        <dt class="col-sm-2">
            Farmer @Html.DisplayFor(model => model.Product.Farmer.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Farmer.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="/Farmers/Details" asp-route-id="@Model.Product.Farmer.Id">More Farmer Details</a> | 
    @if (User.IsInRole(nameof(UserRole.Farmer)))
    {
        <a asp-page="./Edit" asp-route-id="@Model.Product.Id">Edit</a>
        <span>|</span>
    }
    <a asp-page="./Index">Back to List</a>
</div>
