@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<style>
    .card {
        width: 300px;
        max-height: 700px;
        background-color: rgba(255, 255, 255);
        backdrop-filter: blur(2px);
        color: black;
        margin-bottom: 10px;
    }

    .card-body {
        max-height: 400px;
        color: black;
    }

    .card-img-top {
        max-height: 400px;
        object-fit: cover;
    }

    h1 {
        padding-top: 64px;
        color: darkorange;
        font-weight:700;
        font-size:50px;
    }

    h4 {
        color: yellowgreen;
        font-weight: 700;
        font-size: 30px;
    }
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    dt {
        color: darkorange;
        font-size: 20px;
    }
    dd {
        color: yellowgreen;
        font-size: 16px;
    }
</style>

<h1>@Html.DisplayFor(model => model.AppUser.FullName)'s Details</h1>

<div class="row">
    <div class="col-md-6">
        <h4>Farmer Information</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AppUser.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUser.Email)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AppUser.UserRole)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUser.UserRole)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AppUser.Names)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUser.Names)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AppUser.Surname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUser.Surname)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AppUser.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUser.PhoneNumber)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AppUser.StreetAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUser.StreetAddress)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AppUser.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUser.City)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AppUser.Province)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUser.Province)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AppUser.PostalCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUser.PostalCode)
            </dd>
        </dl>
        <br />
        <br />
    </div>

    <div>
        <a asp-page="./Edit" asp-route-id="@Model.AppUser.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
    
    <h4>Products</h4>
    <hr />
    <div class="col-md-15">
        <div class="card-container">
            @foreach (var item in Model.Products)
            {
                <div class="card mb-3">
                    <h3 class="card-header">@Html.DisplayFor(modelItem => item.Price)</h3>
                    @* <img src="@item.ImageUrl" class="card-img-top" alt="Product Image"> *@
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Quantity: @Html.DisplayFor(modelItem => item.Quantity)</h6>
                        <p class="card-text">
                            Availability: <span class="availability-tag @(item.Availability ? "availability-yes" : "availability-no")">@Html.DisplayFor(modelItem => item.Availability)</span>
                        </p>
                        <p class="card-text">Production Date: @Html.DisplayFor(modelItem => item.ProductionDate)</p>
                        <p class="card-text">Category: @(item.Category)</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>