@page
@using AgriEnergyConnectPlatform.Models
@model IndexModel

@{
    ViewData["Title"] = "Farmers and Employees";
}
<style>
    .card {
        width: 300px;
        max-height: 700px;
        background-color: rgba(255, 255, 255);
        backdrop-filter: blur(2px);
        color: black;
        margin-bottom: 10px;
    }

    .card-body {
        max-height: 400px;
        color: black;
    }

    .card-img-top {
        max-height: 400px;
        object-fit: cover;
    }

    h1 {
        padding-top: 64px;
        color: darkorange;
        font-weight: 700;
        font-size: 50px;
    }

    h4 {
        color: yellowgreen;
        font-weight: 700;
        font-size: 30px;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
</style>

<h1>Farmers and Employees</h1>

@if (User.IsInRole(nameof(UserRole.Employee)))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppUser[0].Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUser[0].UserRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUser[0].Names)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUser[0].Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUser[0].PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUser[0].StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUser[0].City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUser[0].Province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUser[0].PostalCode)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.AppUser)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Names)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole(nameof(UserRole.Employee)))
                {
                    <span>|</span>
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
